#header {
    padding: 10px;
    text-align: left;
    background: #0066A2;
    color: white;
    font-size: 40px;
  }
  
body {
  background: white;
}

form {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}
th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

a:link, a:visited {
  background-color: #0066A2;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #0066A2;
}

#submit  {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 35px;
  width: 65px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  }