#header {
    padding: 20px;
    text-align: left;
    background: black;
    color: white;
    font-size: 20px;
  }
  

form {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}
th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

a:link, a:visited {
  background-color: skyblue;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: skyblue;
}

wtf-submit {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 100px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  }